oc
<h2>Ciekawe linki</h2>

<ul>
    <li>
        <a href="https://google.com" target="_blank">Google</a>
    </li>

    <li>
        <a href="https://stackoverflow.com/" target="_blank">StackOverflow</a>
    </li>

</ul>